/*:::: MIXINS ::::*/
.centered {
  margin-left: auto;
  margin-right: auto;
}
.centered-text {
  text-align: center;
}
.no-shadow {
  -o-text-shadow: 0;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
